.form-box{
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw ;
    position:relative; 
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
}
.form-box input, textarea{
    display: block;
    width: 90%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:1;
    border-radius: 5px;
    font-size: 20px;
}

.form-box textarea{
    height: 15vh;
}

.Btn{
    padding: .5rem .8rem .5rem .8rem;
}

.redir{
    al
    text-align: center;
    margin: 1vw 0;
}