.below{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 2.5em;
    font-weight: bold;
    color: #006600;
    transform: translateX(-25%);
}
.inline{
    display: flex;
    flex-direction: row;
}

.fontsize{
    font-size: 2.5em;
    align-self: center;
    padding: 10px;
    font-weight: bold;
    color: #006600;

}

img{
    max-width: 50%;
    height: auto;
    width: auto\9; /* ie8 */
}
